/* Propiedades Custom */

:root {
    --azul:#0A3871;
    --clarito: #D8DFE8;
    --blanco: #FFFFFF;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* Globales */

body {
    background-color: var(--clarito);
}

textarea {
    resize: none;
    outline: none;
    border: none;
}
header {
    height: 5em;
    justify-content: start;
    align-items: center;
    padding-bottom: 70px;
}
main {
    justify-content: space-around;
    height: 85%;
    margin: 10px 0 10px 0;
}
footer {
    height: 5em;
    justify-content: center;
    align-items: center;
}

.width100 {
    width: 100%;
}

.flex-box {
    display: flex;
}

.boton {
    border: 1px solid var(--azul);
    border-radius: 24px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    width: 328px;
    height: 67px;
}

/* Estilo Botones */

#btn-encriptar {
    background-color: var(--azul);
    color: var(--blanco);
}

#btn-desencriptar {
    color: var(--azul);
    background-color: var(--clarito);
}

#btn-copiar {
    background-color: var(--blanco);
}
/* Header */
.logo {
    padding: 10px 0 10px 0;
}
/* Main Izquierda */

.contenedor-encriptar {
    flex-direction: column;
    align-items: end;
    width: 60%;
    margin: auto;
}

.txt-encriptar {
    width: 680px;
    font-size: 4em;
    line-height: 170%;
    background-color: var(--clarito);
    color: var(--azul);
}

.txt-encriptar::placeholder{
    color: var(--azul);
}

.txt-clausula {
    font-size: 2em;
    margin-right: 378px;
    
} 



.botones {
    justify-content: center;
    gap: 2rem;
}

/* Main derecha */

.contenedor-resultado {
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 400px;
}

.primera-etapa, .segunda-etapa {
    width: 400px;
    height: 840px;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    background-color: var(--blanco);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
   
}

.primera-etapa {
    text-align: center;
    justify-content: center;
}

.segunda-etapa {
    display: none;
    align-items: center;
    gap: 2rem;
}


.txt-resultado {
    margin-top: 1rem;
    width: 89%;
    height: 705px;
    font-size: 1.7em;
    line-height: 250%;
    background-color: rgba(55,55,55,0)
}

/* Footer */

.copyright {
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
}

/* Alertas */

.alerta-texto {
    font-size: 1.6em;
}

/* Responsive */

@media (max-width: 1200px) {
    .logo {
        margin-top: 73.42px;
    }
    main {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-encriptar {
        width: 100%;
        align-items: center;
    }

    .txt-encriptar {
        width: 90%;
        margin-top: 116px;
    }

    .contenedor-resultado {
        width: 100%;
        margin: 32px;
    }

    .primera-etapa, .segunda-etapa {
        width: 90%;
        height: auto;
    }
    
    .primera-etapa {
        height: 300px;
        font-size: 1.6em;
    }

    .txt-resultado {
        height: auto;
        line-height: normal;
    }

    .btncopiar {
        margin: 40px;
    }
    
    .munieco {
        display: none;
    }
    
    footer {
        background-color: var(--azul);
        color: var(--blanco);
    }
}

@media (max-width: 700px) {
    .txt-clausula {
        margin: 0;
    }
    .botones {
        flex-direction: column;
    }

    .copyright {
        font-size: 1.5em;
    }
}
